body{
    font-family: Arial;
    margin: 0 ;
}



nav{
    height: 70px;
    display: flex;
}



.secondary-block{
    background-color: rgb(4, 117 , 186);
}


a{
    color: white;
}

nav h2{
    margin: 0;
    padding: 20px;
    height: 0;
   padding-right: 0;
    padding-bottom: 20px;
    padding-left: 15px;
}

nav ul{
    display: flex;
    margin: 0;
    list-style: none;
    padding: 24px;
}

nav li{
    margin-left: 15px;
}

header {
     text-align: center;
     padding: 40px;

}

content {
    max-width: 800px;
    margin: 0 auto;
}

header h2 {
    color: rgb(4, 117, 186);
}

header img {
    width: 150px;
    border-radius: 75px;
    box-shadow: 3px 3px 6px rgb(170, 170, 170);
}

section {
    padding: 40px;
}

#xp ul {

}